// https://flatuicolors.com/palette/au
$color-yellow-light: #f6e58d;
$color-yellow-strong: #f9ca24;
$color-orange-light: #ffbe76;
$color-orange-strong: #f0932b;

$color-red-light: #ff7979;
$color-red-strong: #eb4d4b;
$color-green-light: #badc58;
$color-green-strong: #6ab04c;

$color-skyblue-light: #dff9fb;
$color-skyblue-strong: #c7ecee;
$color-seagreen-light: #7ed6df;
$color-seagreen-strong: #22a6b3;

$color-purple-light: #e056fd;
$color-purple-strong: #be2edd;
$color-blue-light: #686de0;
$color-blue-strong: #4834d4;

$color-navyblue-light: #30336b;
$color-navyblue-strong: #130f40;
$color-gray-light: #95afc0;
$color-gray-strong: #535c68;
