
body {
    /* Font can use the power of inheritance */
    font-family: "Lato";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7; /* 1.7 bigger than predefined */
    color: #777;
}
